<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Search items suite" parallel="classes" thread-count="4" >
    <test name="ChromeTest">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="SearchTests" />
        </classes>
    </test>

    <test name="FirefoxTest">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="SearchTests" />
        </classes>
    </test>

    <test name="OperaTest">
        <parameter name="browser" value="opera" />
        <classes>
            <class name="SearchTests" />
        </classes>
    </test>

    <test name="AndroidTest">
        <parameter name="browser" value="android" />
        <classes>
            <class name="SearchTests" />
        </classes>
    </test>
</suite>